<div class="wrapper menu-collapsed">
    <app-sidebar></app-sidebar>
    <app-navbar></app-navbar>
    <div class="dashboard-panel">
        <div class="dashboard-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header icon-header">
                                <div>
                                    <h4>$5789</h4>
                                    <span>Total Visits</span>
                                </div>
                                <div>
                                    <i-feather name="coffee" class="primary"></i-feather>
                                </div>
                            </div>
                            <div class="card-body">
                                <img src="../../assets/images/visits.png" alt="visits" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header icon-header">
                                <div>
                                    <h4>$4567</h4>
                                    <span>Total Sales</span>
                                </div>
                                <div>
                                    <i-feather name="pie-chart" class="warning"></i-feather>
                                </div>
                            </div>
                            <div class="card-body">
                                <img src="../../assets/images/sales.png" alt="sales" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header icon-header">
                                <div>
                                    <h4>$9822</h4>
                                    <span>Total Value</span>
                                </div>
                                <div>
                                    <i-feather name="shopping-cart" class="success"></i-feather>
                                </div>
                            </div>
                            <div class="card-body">
                                <img src="../../assets/images/value.png" alt="value" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-12 col-12">
                        <div class="card">
                            <div class="card-header bar bar-success">
                                <h4>Product Valuation</h4>
                            </div>
                            <div class="card-body">
                                <img src="../../assets/images/production.png" alt="Product Valuation" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-12">
                        <div class="card">
                            <div class="card-header bar bar-danger">
                                <h4>Today's Activity</h4>
                            </div>
                            <div class="card-body">
                                <div class="activity-list">
                                    <ul>
                                        <li class="danger">
                                            <span class="time">TODAY</span>
                                            <span class="icon badge rounded-pill"><i class="fa fa-tasks"></i></span>
                                            <span class="task">
                                                <a>Task Added</a>
                                                <small class="text-muted">25 mins ago</small>
                                            </span>
                                        </li>
                                        <li class="primary">
                                            <span class="time">YESTERDAY</span>
                                            <span class="icon badge rounded-pill"><i
                                                    class="fa-regular fa-handshake"></i></span>
                                            <span class="task">
                                                <a>Deal Added</a>
                                                <small class="text-muted">23 hours ago</small>
                                            </span>
                                        </li>
                                        <li class="dark-grey">
                                            <span class="time">09 MARCH</span>
                                            <span class="icon badge rounded-pill"><i class="fa fa-tasks"></i></span>
                                            <span class="task">
                                                <a>Task Updated</a>
                                                <small class="text-muted">15 days ago</small>
                                            </span>
                                        </li>
                                        <li class="warning">
                                            <span class="time">04 MARCH</span>
                                            <span class="icon badge rounded-pill"><i
                                                    class="fa-regular fa-handshake"></i></span>
                                            <span class="task">
                                                <a>Started Task</a>
                                                <small class="text-muted">20 days ago</small>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-12 col-12">
                        <div class="card">
                            <div class="card-header bar bar-warning">
                                <h4>Sales</h4>
                            </div>
                            <div class="card-body">
                                <p class="text-muted text-center mb-5">Last 12 Months Sales</p>
                                <img src="../../assets/images/sales-2.png" alt="sales" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-12">
                        <div class="card">
                            <div class="card-header bar bar-primary">
                                <h4>Recent Buyers</h4>
                            </div>
                            <div class="card-body table">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product</th>
                                                <th scope="col">Customers</th>
                                                <th scope="col">Categories</th>
                                                <th scope="col">Popularity</th>
                                                <th scope="col">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">iPone X </td>
                                                <td class="align-middle">Jim</td>
                                                <td class="align-middle"><button type="button"
                                                        class="btn btn-outline-danger">Mobile</button>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                                            role="progressbar" aria-label="Animated striped example"
                                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 95%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">$ 1200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">iPone X </td>
                                                <td class="align-middle">Jim</td>
                                                <td class="align-middle"><button type="button"
                                                        class="btn btn-outline-success">Tablet</button>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                                            role="progressbar" aria-label="Animated striped example"
                                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 75%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">$ 1200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">iPone X </td>
                                                <td class="align-middle">Jim</td>
                                                <td class="align-middle"><button type="button"
                                                        class="btn btn-outline-danger">Mobile</button>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                                            role="progressbar" aria-label="Animated striped example"
                                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 95%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">$ 1200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">iPone X </td>
                                                <td class="align-middle">Jim</td>
                                                <td class="align-middle"><button type="button"
                                                        class="btn btn-outline-success">Tablet</button>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                                            role="progressbar" aria-label="Animated striped example"
                                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 75%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">$ 1200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">iPone X </td>
                                                <td class="align-middle">Jim</td>
                                                <td class="align-middle"><button type="button"
                                                        class="btn btn-outline-danger">Mobile</button>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                                            role="progressbar" aria-label="Animated striped example"
                                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 95%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">$ 1200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">iPone X </td>
                                                <td class="align-middle">Jim</td>
                                                <td class="align-middle"><button type="button"
                                                        class="btn btn-outline-danger">Mobile</button>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                                            role="progressbar" aria-label="Animated striped example"
                                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 95%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">$ 1200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">iPone X </td>
                                                <td class="align-middle">Jim</td>
                                                <td class="align-middle"><button type="button"
                                                        class="btn btn-outline-danger">Mobile</button>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                                            role="progressbar" aria-label="Animated striped example"
                                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"
                                                            style="width: 95%"></div>
                                                    </div>
                                                </td>
                                                <td class="align-middle">$ 1200.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>