/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '../src/assets/sass/variables';
@import '../src/assets/sass/mixins';
@import '../src/assets/sass/fonts';
@import '../src/assets/fontawesome/scss/fontawesome.scss';
@import '../src/assets/fontawesome/scss/brands.scss';
@import '../src/assets/fontawesome/scss/solid.scss';
@import '../src/assets/sass/feather';

body {
    margin: 0;
    font-size: 1rem;
    text-align: left;
    background-color: $sitebg;
    color: rgba(97, 97, 97, .87);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.15em;
    color: #454545;
}

.text-bg-danger,
.bg-danger {
    background-color: $danger !important;
}

.sidebar {
    background-color: $blue;
    font-family: Montserrat, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 250px;
    height: 100vh;
    @include box-shadow(2px 10px 30px 0 rgb(0 0 0 / 42%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%));
    @include transition(width, .3s, cubic-bezier(0, 0, .2, 1));
    @include transform(translate3d(0, 0, 0));
    white-space: nowrap;
    visibility: visible;

    @media screen and (max-width: 768px) {
        @include transition(transform, .4s, cubic-bezier(.25, .8, .25, 1));
        @include transform(translate3d(-100%, 0, 0));
    }

    .sidebar-head {
        .logo {
            position: relative;
            padding: 23px 15px 23px 10px;
            z-index: 4;
            text-transform: uppercase;
            display: block;
            font-size: 1.26rem;
            letter-spacing: 2px;
            color: $white;
            text-align: left;
            font-weight: 400;
            display: flex;
            gap: 10px;
            align-items: end;
            line-height: 1;

            img {
                width: 38px;
            }
        }
    }

    .sidebar-navi {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    position: relative;
                    display: block;
                    overflow: hidden;
                    line-height: 2rem;
                    padding: 7px 10px 7px 14px;
                    margin: 10px 13px 0;
                    border-radius: 3rem;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 300;
                    letter-spacing: .6px;
                    opacity: 1;
                    height: auto;
                    cursor: pointer;

                    >i-feather {
                        line-height: 1;
                        width: 20px;
                        height: 20px;
                        float: left;
                        margin-right: 10px;
                        margin-left: 1px;
                    }

                }

                .sub-menu {
                    display: none;
                    @include transition(all, 0.4s, ease);

                    li {
                        a {
                            display: block;
                            padding: 5px 18px 5px 44px;
                            margin: 8px 13px;
                        }
                    }
                }

                &.has-sub {
                    position: relative;

                    >a {
                        .badge {
                            position: absolute;
                            right: 3.25rem;
                            bottom: 14px;
                        }

                        &::after {
                            content: '\e930';
                            font-family: 'feather';
                            font-size: 1rem;
                            color: $white;
                            display: inline-block;
                            position: absolute;
                            right: 1.75rem;
                            top: 6px;
                            @include transform(rotate(0));
                            @include transition(-webkit-transform, .2s, ease-in-out);
                        }
                    }


                    &.open {
                        >a {
                            &::after {
                                @include transform(rotate(90deg));
                            }
                        }

                        >.sub-menu {
                            display: block;
                        }
                    }
                }

                &:hover {
                    >a {
                        background: rgba(200, 200, 200, .2);
                        color: #fff;
                    }
                }
            }
        }
    }
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: #fff;
    padding: 0.5rem 1.5rem;
    @include box-shadow(0 6px 0 0 rgb(0 0 0 / 1%), 0 15px 32px 0 rgb(0 0 0 / 6%));

    .nav-header-right {
        padding-left: 240px;

        @media screen and (max-width: 768px) {
            padding-left: 0;
            display: flex;
            gap: 15px;
        }
    }
}

.navbar-nav {
    .nav-item {
        @media (min-width: 320px) {
            margin-right: 0.5rem;
        }

        .nav-link {
            color: $dark-grey;
            cursor: pointer;

            .nav-icon {
                width: 16px;
                height: 16px;
            }
        }

        &.dropdown {
            .dropdown-menu {
                &.show {
                    display: block;
                    position: absolute;
                    inset: 0px auto auto 0px;
                    margin: 10px 0 0;
                    @include transform(translate3d(-98px, 34px, 0px));
                    border: none;
                    @include box-shadow(2px 0 20px 2px rgba(64, 70, 74, .25) !important);
                    margin-top: 1.4rem;
                    padding: 0;

                    &.notification-dropdown {
                        @include transform(translate3d(-340px, 34px, 0px));
                    }

                    &.apps-dropdown {
                        @include transform(translate3d(10px, 34px, 0px));
                    }
                }

                &::after {
                    content: " ";
                    bottom: 100%;
                    left: 1.8rem;
                    border: 12px solid rgba(136, 183, 213, 0);
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: #fff;
                    margin-left: -16px;

                    .nav-header-left & {
                        left: auto;
                        right: 1.4rem;
                    }
                }
            }

            .dropdown-toggle::after {
                vertical-align: baseline;
            }
        }
    }
}

.notification-list {
    width: 400px;

    .list-group-item {
        border: 0;
    }
}

.dashboard-panel {
    margin-top: 85px;
    position: relative;
    z-index: 2;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    @include transform(translate3d(0, 0, 0));
    @include transition(all, .33s, cubic-bezier(.685, .0473, .346, 1));

    .dashboard-content {
        padding-left: 270px;
        padding-right: 15px;
        position: relative;
        min-height: calc(100% - 123px);
        @include transition(all, .3s, ease);

        @media screen and (max-width: 768px) {
            padding-left: 15px;
        }

        .card {
            border: 0;
            margin: 15px 0;
            @include box-shadow(0 6px 0 0 rgb(0 0 0 / 1%), 0 15px 32px 0 rgb(0 0 0 / 6%));
            @include border-radius(8px);

            .card-header {
                position: relative;
                background-color: $white;
                border: 0;
                padding-top: 15px;
                padding-bottom: 0;

                h4 {
                    font-weight: 600;
                    letter-spacing: .05rem;
                    font-size: 1.25rem;
                    margin-bottom: 0.25rem;
                }

                &.icon-header {
                    display: flex;
                    justify-content: space-between;

                    h4 {
                        font-size: 1.5rem;
                    }

                    i-feather {
                        width: 32px;

                        &.primary {
                            color: $primary;
                        }

                        &.warning {
                            color: $warning;
                        }

                        &.success {
                            color: $success;
                        }
                    }
                }

                &.bar {
                    margin-bottom: 30px;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 2.75px;
                        height: 23px;
                        top: 15px;
                        left: 0;
                        background-color: $primary;
                    }

                    &.bar-success {
                        &::after {
                            background-color: $success;
                        }
                    }

                    &.bar-danger {
                        &::after {
                            background-color: $danger;
                        }
                    }

                    &.bar-warning {
                        &::after {
                            background-color: $warning;
                        }
                    }
                }
            }

            .card-body {
                padding-top: 0;

                img {
                    max-width: 100%;
                    height: auto;
                }

                p {
                    font-size: 1.2rem;
                }

                .activity-list {
                    max-width: 250px;

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            display: flex;
                            justify-content: space-between;
                            align-items: start;

                            .time {
                                text-transform: uppercase;
                                font-size: 10px;
                                font-weight: 700;
                                line-height: 2;
                                width: calc(24% + 15px);
                            }

                            .icon {
                                height: 30px;
                                width: 30px;
                                padding: 8px 8px;
                                z-index: 1;
                            }

                            .task {
                                position: relative;
                                width: calc(42.66% + 15px);
                                padding-bottom: 30px;

                                a {
                                    text-transform: uppercase;
                                    font-weight: 400;
                                    display: block;
                                }

                                small {
                                    font-size: 12px;
                                }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 2px;
                                    height: 100%;
                                    top: 0;
                                    left: -30px;
                                    background-color: #ddd;
                                    z-index: 0;
                                }
                            }

                            &.danger {
                                .icon {
                                    background-color: $danger;
                                }

                                .task {
                                    a {
                                        color: $danger;
                                    }
                                }
                            }

                            &.primary {
                                .icon {
                                    background-color: $primary;
                                }

                                .task {
                                    a {
                                        color: $primary;
                                    }
                                }
                            }

                            &.dark-grey {
                                .icon {
                                    background-color: $dark-grey;
                                }

                                .task {
                                    a {
                                        color: $dark-grey;
                                    }
                                }
                            }

                            &.warning {
                                .icon {
                                    background-color: $warning;
                                }

                                .task {
                                    a {
                                        color: $warning;
                                    }
                                }
                            }
                        }
                    }
                }

                &.table {
                    padding: 0;
                    margin: 0;

                    .table {
                        margin-bottom: 0;
                        color: inherit;

                        td {
                            button {
                                font-size: 0.875rem;

                                @include border-radius(1.5rem);

                                &.btn-outline-danger {
                                    border-color: $danger;
                                }

                                &.btn-outline-success {
                                    border-color: $success;
                                }

                                &:hover {
                                    &.btn-outline-danger {
                                        background-color: $danger;
                                    }

                                    &.btn-outline-success {
                                        background-color: $success;
                                    }
                                }
                            }

                            .progress {
                                height: 0.5rem;

                                .bg-danger {
                                    background-color: $danger;
                                }

                                .bg-success {
                                    background-color: $success;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrapper {
    &.menu-collapsed {
        .sidebar {
            width: 60px;
            overflow: hidden;

            .sidebar-head {
                .logo {
                    .logo-text {
                        display: none;
                    }
                }
            }

            .sidebar-navi {
                ul>li {
                    a {
                        padding: 6px;
                        margin: 10px 13px;
                        height: 35px;
                        width: 35px;
                        text-align: center;
                        display: inline-block;

                        .sidebar-menu-title,
                        .badge {
                            display: none;
                        }

                        >i-feather {
                            margin-right: 1px;
                        }
                        &::after{
                            content: none;
                        }
                    }
                    &.has-sub{
                        &:first-child {
                            > a {
                                background-color: $white;
                                color: $danger;
                            }
                        }
                    }
                }
            }
        }

        .navbar {
            .nav-header-right {
                padding-left: 45px;
            }
        }
        .dashboard-panel{
            .dashboard-content{
                padding-left: 75px;
            }
        }
    }
}

@import '../src/assets/sass/responsive';